.all{
    box-sizing: border-box;
    position: absolute;
    width: 1500px;
    height: 1000px;
    left:8px;
    background:#f8f7f7;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
}
*{
    box-sizing: border-box;
   }
body{
    margin:0;
}
.nav{
    color: rgb(250, 247, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2 rem;
    padding: 0 1rem;
    width: 100%;
    margin-left: 6%;
    position: relative;
    bottom: 30px; 

}
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: stretch;
    padding: .25rem;
}
.nav ul {
    padding: 0;
    margin-top: 80px;
    margin-right: 300px;
    list-style: none;
    display: flex;
    gap:1rem;
}
.nav li.active{
background-color: rgb(169, 113, 171);
border-radius: 10px;
}
.nav li:hover{
    background-color:#e1c0d5;
}
.site-title{
    font-size: 2rem;
   margin-top: 70px;
   margin-left: 0px;
}

.imgs{
background-image: url("background.webp");
background-repeat: none; 
position: absolute;
background-size: cover;
width: 789px;
height: 882px;
left: 10px;
top: 10px;
background-blend-mode: darken;
}
.logo{
    
    position: relative;
    top: 20px;
}

.logo img {
width: 40px;
height: 40px;
border-radius: 50%;

}

.htm1{
height: 60%;
color: #FFFFFF;
display  : flex;
align-items: center;
justify-content: center;
}

.riqueste{

    background-color:#e1c0d5;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 30%;
    list-style: none;
    }
    .riqueste a {
        color: inherit;
        text-decoration: none;
        height: 30px;
        width: 200px;
        display: flex;
        align-items: stretch;
        padding: .25rem;
    }
    .signin{
    box-sizing: border-box;
    position: absolute;
    width: 500px;
    height: 882px;
    right:0px;
    top: 10px;
    background:#fdfcfc;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    }
.signup{
position: absolute;
width: 275px;
height: 135px;
font-size: 17px;
font-weight: 800;
right: 1px;
top: 0px;
text-decoration: none;
list-style: none;
background: rgba(217, 217, 217, 0.2);
}
.dire{
    position: absolute;
    left: 180px;
    right: 0px;
    top: 60px;
    bottom: 6.25%;
}
.signup a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: stretch;
    padding: .25rem;
}
.signi{
position: absolute;
width: 116px;
height: 24px;
left: 96px;
top: 55px;
 list-style: none;
 text-decoration: none;
}
.sign{
position: absolute;
width: 160px;
height: 65px;
left: 200px;
top: 319px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 65px;
color: rgba(0, 0, 0, 0.7);
}
.input{
    height: 30px;
    font-size: 15px;
    width: 100%;
    border-bottom:1px solid black ;
    margin-bottom: 30px;
}
.text{
margin: 0px;
color: #181212;
font-size: 16px;
position: absolute;
width: 420px;
height: 37px;
left: 51px;
top: 448px;
}

.pass{
  margin: 0px;
  color: #181212;
  font-size: 16px;
  position: absolute;
width: 420px;
height: 37px;
left: 51px;
top: 520px;

  }
  .submit1{
background: #F1D4EC;
display: flex;
font-size: 20px;
color: rgb(24, 19, 19);
cursor: pointer;
box-sizing: border-box;
position: absolute;
width: 400px;
height: 48px;
left: 81px;
top: 634px;
border: 1px solid #FFFFFF;
border-radius: 40px;
}
.submit1 a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: stretch;
    padding: .25rem;
    padding-left:180px ;
}
  button:active{
    transform: translate(2px);
  }
  .forget{
position: absolute;
width: 308px;
height: 26px;
left: 150px;
top: 581px;
  }
  .forget a{
    color: #F1D4EC;
    text-decoration: none;
  }
  .tit1{
    position: absolute;
    width: 106px;
    height: 15px;
    left: 44px;
    top: 25px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #fcfcfc;
  }
  .logo1{
    position: absolute;
    width: 106px;
    height: 86px;
    left: 32px;
    top: 16px;
    
    }
    .direc{
            position: absolute;
            left: 416px;
            right: 0px;
            top: 675px;
        }